Repository vertotrade/verto.ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -c ./.eslintrc --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint -c ./.eslintrc --fix"
  ],
  "**/*.json": [
    "prettier --write"
  ]
}

updates for l2
  apps/web/src/config/constants/pools.tsx
  apps/web/src/views/Swap/SmartSwap/utils/exchange.ts
  apps/web/src/views/Tokens/index.tsx
  packages/tokens/src/3034.ts
  packages/tokens/src/common.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

add testnet L2 to env
  apps/web/.env
Due: none

fix icons swap
  apps/web/public/images/chains/3034_1.png
  apps/web/public/images/tokens/0x4200000000000000000000000000000000000006.png
  apps/web/public/images/tokens/0xB5A68680f188917003D0e8ff9Bd46B2c5b0a6721.png
  apps/web/src/config/constants/tokenLists/3034/vertotrade-default.tokenlist.json
Due: prettier --write

add lp pool details and icon
  apps/web/public/images/tokens/0xF7791AAeeAfBdB873bC91Cb8a761989567bbd654.png
  apps/web/src/components/TokenImage/index.tsx
  packages/farms/constants/3034.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

update nft contract address
  apps/web/src/config/constants/contracts.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

fix Verto token icon
  apps/web/public/images/tokens/0x7C318c162e140972357a92964D55FadA23E2779a.png
Due: none

disable win section
  apps/web/src/components/Menu/config/config.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

fix token page
  apps/web/src/views/Tokens/index.tsx
Due: prettier --write, eslint -c ./.eslintrc --fix

Removed COM from tokens and farms
  apps/web/src/config/constants/tokenLists/1011/vertotrade-default.tokenlist.json
  packages/farms/constants/1011.ts
  packages/tokens/src/1011.ts
  yarn.lock
Due: prettier --write, eslint -c ./.eslintrc --fix

remove com more
  apps/web/src/config/constants/exchange.ts
  packages/smart-router/evm/constants/exchange.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

feature/DEV-850_swipelux
  apps/web/src/components/BuyTokenModal/BuyTokenModal.tsx
  apps/web/src/components/Menu/UserMenu/WalletInfo.tsx
  apps/web/src/global.d.ts
  apps/web/src/pages/_app.tsx
  apps/web/src/views/Swap/index.tsx
  packages/uikit/src/widgets/Menu/Menu.tsx
Due: prettier --write, eslint -c ./.eslintrc --fix

feature/DEV-850_swipelux
  apps/web/public/locales/ar-SA.json
  apps/web/public/locales/bn-BD.json
  apps/web/public/locales/de-DE.json
  apps/web/public/locales/el-GR.json
  apps/web/public/locales/en-AU.json
  apps/web/public/locales/en-US.json
  apps/web/public/locales/es-ES.json
  apps/web/public/locales/fi-FI.json
  apps/web/public/locales/fil-PH.json
  apps/web/public/locales/fr-FR.json
  apps/web/public/locales/hi-IN.json
  apps/web/public/locales/hu-HU.json
  apps/web/public/locales/id-ID.json
  apps/web/public/locales/it-IT.json
  apps/web/public/locales/ja-JP.json
  apps/web/public/locales/ko-KR.json
  apps/web/public/locales/nl-NL.json
  apps/web/public/locales/pl-PL.json
  apps/web/public/locales/pt-BR.json
  apps/web/public/locales/pt-PT.json
  apps/web/public/locales/ro-RO.json
  apps/web/public/locales/ru-RU.json
  apps/web/public/locales/sv-SE.json
  apps/web/public/locales/ta-IN.json
  apps/web/public/locales/tr-TR.json
  apps/web/public/locales/uk-UA.json
  apps/web/public/locales/vi-VN.json
  apps/web/public/locales/zh-CN.json
  apps/web/public/locales/zh-TW.json
  packages/uikit/src/widgets/Menu/Menu.tsx
Due: prettier --write, eslint -c ./.eslintrc --fix

feature/REB-85_Review_missing_translations
  apps/web/public/locales/ar-SA.json
  apps/web/public/locales/bn-BD.json
  apps/web/public/locales/de-DE.json
  apps/web/public/locales/el-GR.json
  apps/web/public/locales/en-AU.json
  apps/web/public/locales/en-US.json
  apps/web/public/locales/es-ES.json
  apps/web/public/locales/fi-FI.json
  apps/web/public/locales/fil-PH.json
  apps/web/public/locales/fr-FR.json
  apps/web/public/locales/hi-IN.json
  apps/web/public/locales/hu-HU.json
  apps/web/public/locales/id-ID.json
  apps/web/public/locales/it-IT.json
  apps/web/public/locales/ja-JP.json
  apps/web/public/locales/ko-KR.json
  apps/web/public/locales/nl-NL.json
  apps/web/public/locales/pl-PL.json
  apps/web/public/locales/pt-BR.json
  apps/web/public/locales/pt-PT.json
  apps/web/public/locales/ro-RO.json
  apps/web/public/locales/ru-RU.json
  apps/web/public/locales/sv-SE.json
  apps/web/public/locales/ta-IN.json
  apps/web/public/locales/tr-TR.json
  apps/web/public/locales/uk-UA.json
  apps/web/public/locales/vi-VN.json
  apps/web/public/locales/zh-CN.json
  apps/web/public/locales/zh-TW.json
Due: prettier --write

feature/REB-85_Review_missing_translations
  apps/web/public/locales/fil-PH.json
Due: prettier --write

layer2 updated configuration
  apis/farms/src/helper.ts
  apis/farms/src/provider.ts
  apps/web/.env
  apps/web/public/images/chains/9696.png
  apps/web/public/images/tokens/0x088D38759c2D67eD0DA54d52AEf8d5Fb748Ef70E.png
  apps/web/public/images/tokens/0x52411A12bcb04E7483dC2C100DCaB997e2Cb4ABc.png
  apps/web/public/images/tokens/0x5B1B22949ae55101F35dCfCfc080985fCF3CB904.png
  apps/web/public/images/tokens/0xfd3423e599CB90C5D1E5cFdA6F0A4c570443af9E.png
  apps/web/src/components/TokenImage/index.tsx
  apps/web/src/config/chains.ts
  apps/web/src/config/constants/contracts.ts
  apps/web/src/config/constants/exchange.ts
  apps/web/src/config/constants/pools.tsx
  apps/web/src/config/constants/tokenLists/9696/vertotrade-default.tokenlist.json
  apps/web/src/config/constants/tokenLists/9696/vertotrade-unsupported.tokenlist.json
  apps/web/src/config/constants/tokenLists/9696/vertotrade-warning.tokenlist.json
  apps/web/src/state/lists/hooks.ts
  apps/web/src/utils/index.ts
  apps/web/src/utils/prices.ts
  apps/web/src/utils/providers.ts
  apps/web/src/utils/wagmi-chains.ts
  apps/web/src/utils/wagmi.ts
  apps/web/src/views/Nft/market/components/BuySellModals/BuyModal/ReviewStage.tsx
  apps/web/src/views/Nft/market/components/BuySellModals/BuyModal/index.tsx
  apps/web/src/views/Pools/components/PoolStatsInfo.tsx
  apps/web/src/views/Swap/SmartSwap/utils/exchange.ts
  apps/web/src/views/Tokens/index.tsx
  packages/farms/constants/9696.ts
  packages/farms/constants/priceHelperLps/9696.ts
  packages/farms/constants/priceHelperLps/getFarmsPriceHelperLpFiles.ts
  packages/farms/scripts/build.ts
  packages/farms/src/const.ts
  packages/multicall/index.ts
  packages/smart-router/evm/constants/exchange.ts
  packages/swap-sdk/src/constants.ts
  packages/tokens/src/9696.ts
  packages/tokens/src/common.ts
  packages/tokens/src/helpers.ts
  packages/tokens/src/index.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

fix tokens
  packages/tokens/src/9696.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

minor fixes
  apps/web/src/config/constants/exchange.ts
  apps/web/src/state/lists/hooks.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

fix chain name as in chainlist
  apps/web/src/utils/wagmi-chains.ts
Due: prettier --write, eslint -c ./.eslintrc --fix

update fix api
  apps/web/.env
  apps/web/.env.production
Due: none
